.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.AddCheckListForm-title-container {
  display: flex;
  text-align: center;
}

.AddCheckListForm-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.AddCheckListForm-title-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.AddCheckListForm-checklist-input {
  margin-left: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}
