.document-container {
}

.document-container h2 {
  font-size: 18px; /* 見出しのフォントサイズ */
  color: #333; /* 見出しの色 */
  margin-bottom: 10px;
  text-align: left; /* 左揃え */
}

.chapter {
  margin-bottom: 10px;
}

.chapter h3 {
  font-size: 16px; /* 章の見出しのフォントサイズ */
  color: #555; /* 章見出しの色 */
}

.chapter p {
  font-size: 16px; /* 段落のフォントサイズ */
  color: black; /* 段落の色 */
  margin: 5px 0; /* 段落の上下余白 */
  padding-left: 10px; /* 左側のインデント */
  /* または */
  /* text-indent: 20px; インデントを段落の最初の行にのみ適用する場合 */
}

.chapter p span {
  font-weight: bold; /* 太字 */
  color: #2c3e50; /* 強調色 */
}

.checklist-title {
  padding-left: 15px; /* 左側のインデント */
  font-size: 16px; /* 段落のフォントサイズ */
  
}

.checklist-container-on-document {
  padding-left: 30px; /* 左側のインデント */ 
}

.checklist-on-document {
  margin-top: 5px;
  margin-bottom: 5px;
}

.checklist-container-card {
  background-color: whitesmoke; /* カードの背景色 */
  border-radius: 8px;        /* 角の丸み */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードの影 */
  padding: 8px;             /* カードの内側の余白 */
  margin-left: 25px;       /* カード間の余白 */
  margin-top: 16px;       /* カード間の余白 */
  margin-bottom: 16px;       /* カード間の余白 */
}

.checklist-card {
  background-color: white; /* カードの背景色 */
  border-radius: 8px;        /* 角の丸み */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードの影 */
  padding: 16px;           /* カードの内側の余白 */
  margin-left: 35px;       /* カード間の余白 */
  margin-bottom: 16px;       /* カード間の余白 */
}

.checklist-title {
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 15px;
}

.checklist-container {
  list-style: none;
  padding: 0;
}

.icon-on-checklist-card {
  margin-right: 10px;
}

.non-flowstep-message-on-document {
  margin-left: 35px;
  color: darkgray;
}