.document-container {
}

.document-container h2 {
  font-size: 28px; /* 見出しのフォントサイズ */
  color: #333; /* 見出しの色 */
  margin-bottom: 20px; /* 見出し下の余白 */
  text-align: left; /* 左揃え */
}

.chapter {
  margin-bottom: 30px; /* 各章の下余白 */
}

.chapter h3 {
  font-size: 24px; /* 章の見出しのフォントサイズ */
  color: #555; /* 章見出しの色 */
  margin-bottom: 10px; /* 章見出しの下余白 */
}

.chapter p {
  font-size: 18px; /* 段落のフォントサイズ */
  color: #666; /* 段落の色 */
  margin: 5px 0; /* 段落の上下余白 */
  padding-left: 20px; /* 左側のインデント */
  /* または */
  /* text-indent: 20px; インデントを段落の最初の行にのみ適用する場合 */
}

.chapter p span {
  font-weight: bold; /* 太字 */
  color: #2c3e50; /* 強調色 */
}
