/* Flowstep.css */

.flow-step {
  background-color: #f0f8ff; /* Light blue background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding around the text */
  margin: 5px; /* Margin between flow steps */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  min-width: 125px;
  max-width: 125px;
}

.flow-step:hover {
  background-color: #e0f7fa; /* Slightly darker blue on hover */
}

.flowstep-name {
  color: #333; /* Darker text color */
  font-size: 1.2em; /* Larger font size */
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margin */
  margin-left: 5px;
}

.flowstep-name-container {
  display: flex;
}

.button-container-for-flowstep {
  display: flex;
  justify-content: center;
}

.flowstep-name-edit-button {
  margin-left: 5px;
}

.faPencil-button-for-flowstep {
  margin-right: 10px;
}