/* MatrixView.css */

.matrix-table {
  width: 100%;
  border-collapse: collapse;
}

.matrix-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.matrix-cell {
  padding: 8px;
  border: 1px solid #ddd;
}

/* メンバーのセルに色を塗る */
.member-cell {
  background-color: #f2f2f2;
  font-weight: bold;
}


.flow-step {
  padding: 5px; /* 内部の余白 */
  border-radius: 5px; /* 角を丸くする */
  background-color: #e9f5ff; /* フローステップの背景色 */
  text-align: center; /* 中央揃え */
  transition: background-color 0.3s; /* ホバー時の背景色のアニメーション */
}

.matrix-cell:hover .flow-step {
  background-color: #d1e7ff; /* ホバー時のフローステップの背景色 */
}
