.matrix-table {
  width: 100%;
  border-collapse: collapse;
}

.matrix-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.matrix-corner-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  width: 100px;
}

.matrix-side-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.matrix-cell {
  padding: 8px;
  border: 1px solid #ddd;
}

.member-cell {
  background-color: #f2f2f2;
  display: flex;                     /* Use flexbox for layout */
  justify-content: space-between;    /* Space between items: name on left, icon on right */
  align-items: center;               /* Center items vertically */
  padding: 10px;                     /* Add some padding for aesthetics */
}

.member-name {
  flex-grow: 1;                      /* Allow the name to take up available space */
}

.member-icon {
  margin-left: 8px;                 /* Optional: Add space between name and icon */
}


.flow-step {
  padding: 5px; /* 内部の余白 */
  border-radius: 5px; /* 角を丸くする */
  background-color: #e9f5ff; /* フローステップの背景色 */
  text-align: center; /* 中央揃え */
  transition: background-color 0.3s; /* ホバー時の背景色のアニメーション */
}

.matrix-cell:hover .flow-step {
  background-color: #d1e7ff; /* ホバー時のフローステップの背景色 */
}
